<div class="nested-fields row">
  <div class="col col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
    <%= f.cktext_area :content, class: "ckeditor" %>
  </div>
  <div class="col col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
    <%= f.check_box :is_correct %>
    <label class="control-label"><%= t ".is_correct" %></label>
  </div>
  <div class="col col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="text-uppercase genric-btn primary btn btn-default">
      <%= link_to_remove_association t(".remove_answer"), f,
        class: "text_white" %>
    </div>
  </div>
</div>
