<section class="cta-one-area relative section-gap">
  <div class="container">
    <div class="overlay overlay-bg"></div>
    <div class="row justify-content-center">
      <div class="wrap">
        <h1 class="text-white"><%= t ".instructor" %></h1>
        <p>
          <%= t ".instructor_context" %>
        </p>
        <%= link_to t(".apply_for_the_post"), recruitment_path,
          class: "primary-btn wh" %>
      </div>
    </div>
  </div>
</section>
