.sign-up {
  text-align: center;
}
.signup-form {
  margin: 0 auto;
}

.lessons {
  margin-bottom: 10px;
}

.col-xl-12 {
  text-align: center;
}

.h3-title {
  margin-bottom: 30px;
  margin-top: 20px;
}
