@import 'colors.scss';
.sign-up {
  text-align: center;
}

.signup-form {
  margin: 0 auto;
}

.lessons {
  margin-bottom: 10px;
}

.col-xl-12 {
  text-align: center;
}

.h3-title {
  margin-bottom: 30px;
  margin-top: 20px;
}

.yield {
  padding: 10em 0;
}

.search {
  padding: .5em
}

.form-control {
  margin: .5em 0
}

label.required:after {
  content: " (*)";
  color: $red;
}

.price {
  padding-left: 1em
}
.kaminari {
  width: 25%;
  margin: 0 auto
}
.img-course-detail {
  height: 320px;
  width: 100%;
}
.text {
  text-align: center;
}
.stay-away{
  margin-top: 4em
}

.add_button {
  margin-bottom: 30px;
  margin-top: 20px;
}

.nested-fields {
  margin-top: 20px;
}

.text_white {
  color: white;
}

.submit_button {
  margin-top: 29px;
}
